@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>BasicPage</title>
</head>
<body>
        <div>
            This is a basic page! <a href="/Test">Go Back</a>
        </div>
</body>
</html>

