@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <a href="/Test/BasicPage">Check out this basic page with no layout!</a><br />
    <form method="post" action="/Test/ProcessEmail">
        To email address: <input name="email" class="form-control" /> <br />
        Your message: <textarea name="message" class="form-control"> </textarea> <br />
        <input type="submit" value="send email" />
    </form>
</div>