<div class="jumbotron">
    Edit TV Shows
    <h3>Add TV shows</h3>
    <form action="/Home/AddShow" id="addShowForm">
        <label for="showName">Show Name:</label>
        <input id="showName" name="showName" class="form-control" />
        <input type="submit" value="Add" class="btn" />
    </form>
    <div id="result"></div>
</div>