<div class="jumbotron">
    <h2>Edit TV Shows</h2>
    <form action="/Home/AddTVShow" id="addShowForm">
        <label for="showName">Show Name:</label>
        <input id="showName" name="showName" class="form-control" />
        <input type="submit" value="Add" class="btn" />
    </form>
    <div id="result"></div>
    <hr />
    <ul id="showsList" class="list-group"></ul>
</div>