<div class="jumbotron">
    <h1>Edit Networks</h1>
    <form action="/Home/AddNetwork" id="addNetworkForm">
        <label for="networkName">Show Name:</label>
        <input id="networkName" name="networkName" class="form-control" />
        <input type="submit" value="Add" class="btn" />
    </form>
    <div id="result"></div>
</div>