

<div class="jumbotron">
    <div class="text-center">
          <h1 class="display-3">Welcome to CompareStream!</h1>
          <p class="lead">
              We'll help find streaming services tailored to your favorite shows at the best price.
              <hr class="my-4">
</div>
</div>


