@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    You are logged in as:
    <ul class="list-group">
        <li class="list-group-item"><a href="/Home/SelectTvShows">Select TV Shows</a></li>
        <li class="list-group-item"><a href="/Home/EditTv">Edit TV Shows</a></li>
        <li class="list-group-item"><a href="/Home/EditStreamingServices">Edit streaming services</a></li>
        <li class="list-group-item"><a href="/Home/ReportProblem">Report Problem</a></li>
        <li class="list-group-item"><a href="/Home/ViewStatistics">View Statistics</a></li>
        <li class="list-group-item"><a href="/Home/ViewReports">View Reports</a></li>
    </ul>
</div>