
<div class="jumbotron">
        <h1>Login</h1>
        <form action="/Home/Login" method="post">
            <label for="email">Email:</label>
            <input name="loginEmail" id="email" class="form-control" /><br />
            <label for="password">Password:</label>
            <input name="loginPassword" type="password" id="password" class="form-control" /><br />
            <input type="submit" value="Login" class="btn" /> (Email: test, Password: test)
        </form>
    </div>


