
<div class="jumbotron">
    <h1>Login</h1>
    <form>
        
        <input name="loginEmail" value="Email" onfocus="this.value=''"/><br/>
        <input name="loginPassword" type="password"/><br/>
        <input type="submit" value="Login"/>
    </form>
</div>

