@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginEmail = Request["loginEmail"];
}

<div class="container">
    <div class="row">
        You are logged in as: @loginEmail
        <ul class="list-group">
            <li class="list-group-item">Select TV Shows</li>
            <li class="list-group-item">Edit TV Shows</li>
            <li class="list-group-item">Edit streaming services</li>
        </ul>
    </div>
</div>