@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginEmail = Request["loginEmail"];
}

<div class="container">
    <div class="row">
        You are logged in as: @loginEmail
        <ul class="list-group">
            <li class="list-group-item">Select TV Shows</li>
            <li class="list-group-item">Edit TV Shows</li>
            <li class="list-group-item">Edit streaming services</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            logged in as
        </div>
        <div class="col-xs-6 col-md-4">
            user status [Admin|User]
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            option
        </div>
        <div class="col-xs-6 col-sm-4">
            option
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4">
            option
        </div>
    </div>
</div>