<div class="jumbotron">
        <h2>Login</h2>
        <form action="/Home/DoLogin" method="post">
            <label for="email">Email</label>
            <input name="loginEmail" id="email" class="form-control" placeholder="Enter Email"/><br />
            <label for="password">Password</label>
            <input name="loginPassword" type="password" id="password" class="form-control" placeholder="Enter Password"/><br />
            <input type="submit" value="Login" class="btn" /> (Email: test, Password: test)
        </form>
    </div>