<div class="jumbotron">
    <h2>Report Problem</h2>
    <form action="/Home/AddProblem" id="reportProblemForm">
        <label for="problemDescription">Description:</label>
        <input id="problemDescription" name="reportDescription" class="form-control" />
        <input type="submit" value="Add" class="btn" />
    </form>
    <div id="result"></div>
</div>