<div class="jumbotron">
    <h2>Select TV Shows</h2>
    <form action="/Home/ShowSearch" id="showSearchForm">
        <label for="showNameSearch">Show Name:</label>
        <input id="showNameSearch" name="showName" class="form-control" />
        <input type="submit" value="Add" class="btn" onclick="addShowToList();return false;" />
    </form>
    <hr />
    <ul id="result" class="list-group"></ul>
</div>