<div class="jumbotron">
    You are logged in as:<br />
    Select TV Shows
    <form action="/Home/ShowSearch" id="showSearchForm">
        <label for="showNameSearch">Show Name:</label>
        <input id="showNameSearch" name="showName" class="form-control" />
        <input type="submit" value="Add" class="btn" onclick="addShowToList();return false;" />
    </form>
    <hr />
        <ul id="result" class="list-group"></ul>
</div>