<div class="jumbotron">
    View Accounts
    <form action="/Home/SearchUsers" id="accountSearchForm">
        <label for="accountEmailSearch">Email:</label>
        <input id="accountEmailSearch" name="accountEmail" class="form-control" />
        <input type="submit" value="Search" class="btn" />
    </form>
    <hr />
        <ul id="result" class="list-group"></ul>
</div>